#lista{
    overflow: auto;
    height: 20rem;
    width: 50rem;
    margin-top: -7%;
}

#lista::-webkit-scrollbar{
    background: #fafafa;
    width: 8px;
}


#lista::-webkit-scrollbar-thumb {
    background-color: rgba(122, 125, 127, 0.2);
    border-radius: 20px;

}

