.teste{
    display:flex;
    width: 45cm;
    padding: 2rem;
    justify-content: center;
    background-color:#347AE2;
    margin-bottom: 2rem;
}
.li{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.betas{
    border: 1px solid red;
    max-width: 50%;
    flex-wrap: wrap;
}
.beta h4{
    display: flex;
    justify-content: center;
}
.geral-div-header{
    display: flex;
    justify-content: center;
}