#teste{
    display:flex;
    width: 45cm;
    padding: 2rem;
    justify-content: center;
    background-color:#347AE2;
    margin-bottom: 2rem;
}
#titulo{
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
}
.lucas{
    flex-wrap: wrap;
    border:1px solid red;
    display:flex;
    max-width:90%;
    overflow:none;
    padding:1rem;
}
.alinhar{
    padding:1rem;
    margin:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}