#teste{
    display:flex;
    width: 45cm;
    justify-content: center;
    background-color:#347AE2;
    margin-bottom: 2rem;
}
#titulo{
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 2rem;
}
.lucas{
    flex-wrap: wrap;
    display:flex;
    max-width:90%;
    overflow:none;
    padding:1rem;
}
.alinhar{
    padding:1rem;
    margin:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.seletor{
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.displayflex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#pesquisainput{
    width: 400px;
    height: 50px;
    border-radius: 9px;
}
.barraderolagem{
    overflow:auto;
    height: 500px;
}

.navItem {
    color: var(--Background);
}

.navItem:hover{
    color: var(--Divider);
}